@use 'values';
.main_container {
  display: flex;
  // align-items: center;
  // justify-content: center;
  width: 70%; // could change
  // min-height: 75vh;
  background-color: values.$White;
  border-radius: 25px;
  .left_container {
    width: 50%;
    // height: 100%;
    padding: 35px 20px 25px 20px;
    background-color: values.$White;
    border-radius: 25px 0 0 25px;
    .title_container {
      h3 {
        color: values.$Slate-900;
        font-size: values.$h3;
      }
      display: flex;
      justify-content: space-between;
      button {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: values.$Slate-700;
        cursor: pointer;
      }
    }
    form {
      .error_p {
        color: values.$Red;
        font-size: .8rem;
        padding-top: 5px;
      }
      .input_first_row {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        label {
          color: values.$Slate-700;
          padding-bottom: 10px;
        }
        .amount_input {
          position: relative;
          .amount {
            height: 45px;
            border-radius: 5px;
            border: 1px solid values.$Slate-700;
            color: values.$Slate-900;
            font-weight: values.$max-weight;
            font-size: 1.1rem;
            width: 100%;
            padding-left: 60px;
            cursor: pointer;
            &:focus {
              outline: none;
              border: 1px solid values.$Lime;
            }
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          span {
            position: absolute;
            left: 0;
            top: 0;
            background-color: values.$Slate-100;
            height: 45px;
            padding-inline: 15px;
            border-radius: 5px 0 0 5px;
            border: 1px solid values.$Slate-700;
            border-right: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: values.$Slate-700;
            font-weight: values.$max-weight;
          }
          .amount:focus + span {
            background-color: values.$Lime;
            border: 1px solid values.$Lime;
            border-right: none;
            color: values.$Slate-900;
          }
          .error_input {
            height: 45px;
            border-radius: 5px;
            border: 1px solid values.$Red;
            color: values.$Slate-900;
            font-weight: values.$max-weight;
            font-size: 1.1rem;
            width: 100%;
            padding-left: 60px;
            cursor: pointer;
            &:focus {
              outline: none;
              border: 1px solid values.$Red;
            }
          }
          .error_input + span {
            background-color: values.$Red;
            border: 1px solid values.$Red;
            border-right: none;
            color: values.$White;
          }
        }
      }
      .input_second_row {
        display: flex;
        padding-top: 15px;
        gap: 15px;
        .term_container,
        .interest_container {
          width: 50%;
          display: flex;
          flex-direction: column;
          label {
            color: values.$Slate-700;
            padding-bottom: 10px;
          }
          .inputs {
            position: relative;
            .term,
            .interest_input {
              height: 45px;
              width: 100%;
              border-radius: 5px;
              border: 1px solid values.$Slate-700;
              color: values.$Slate-900;
              font-weight: values.$max-weight;
              font-size: 1.1rem;
              padding-left: 15px;
              cursor: pointer;
              &:focus {
                outline: none;
                border: 1px solid values.$Lime;
              }
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            span {
              position: absolute;
              right: 0;
              top: 0;
              background-color: values.$Slate-100;
              height: 45px;
              border-radius: 0 5px 5px 0;
              border: 1px solid values.$Slate-700;
              border-left: none;
              padding-inline: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: values.$Slate-700;
              font-weight: values.$max-weight;
            }
            .term:focus + span,
            .interest_input:focus + span {
              background-color: values.$Lime;
              border: 1px solid values.$Lime;
              border-left: none;
              color: values.$Slate-900;
            }
            .error_term,
            .error_interest {
              height: 45px;
              border-radius: 5px;
              border: 1px solid values.$Red;
              color: values.$Slate-900;
              font-weight: values.$max-weight;
              font-size: 1.1rem;
              width: 100%;
              padding-left: 15px;
              cursor: pointer;
              &:focus {
                outline: none;
                border: 1px solid values.$Red;
              }
            }
            .error_term + span,
            .error_interest + span {
              background-color: values.$Red;
              border: 1px solid values.$Red;
              border-left: none;
              color: values.$White;
            }
          }
        }
      }
      .input_third_row {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .error_p {
          color: values.$Red;
          font-size: .8rem;
          padding-top: 5px;
        }
        p {
          color: values.$Slate-700;
          padding-bottom: 10px;
        }
        .radio_container {
          border-radius: 5px;
          border: 1px solid values.$Slate-700;
          height: 45px;
          padding: 10px 15px;
          display: flex;
          align-items: center;
          gap: 10px;
          label {
            color: values.$Slate-900;
            font-weight: values.$max-weight;
            font-size: 1.1rem;
          }
          input {
            border:2px solid white;
            box-shadow:0 0 0 1.5px values.$Slate-700;
            appearance:none;
            border-radius:50%;
            width:12px;
            height:12px;
            background-color:transparent;
            transition:all ease-in 0.2s;
            cursor: pointer;
            &:checked {
              background-color: values.$Lime;
              box-shadow:0 0 0 1.5px values.$Lime;
            }
          }
          
        }
        .radio_container:has(input[type=radio]:checked){
          background-color: rgba(215, 218, 47, 0.253);
          border: 1px solid values.$Lime;
        }
      }
      .submit_btn {
        margin-top: 25px;
        background-color: values.$Lime;
        border: none;
        border-radius: 100vmax;
        padding: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: values.$Slate-900;
        font-weight: values.$max-weight;
        cursor: pointer;
      }
    }
  }
  .right_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 50%;
    padding: 35px 25px 20px 25px;
    background-color: values.$Slate-900;
    border-radius: 0 25px 25px 60px;
    /* DEFAULT IMAGE */
    .empty_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h3 {
        color: values.$White;
        font-size: 1.3rem;    
      }
      p {
        padding-top: 20px;
        color: values.$Slate-500;
      }
    }
  }
}
@media screen and (480 < width <= 700px) {
  .main_container {
    flex-direction: column;
    margin-block: 20px;
    .left_container {
      width: 100%;
      border-radius: 25px 25px 0 0;
    }
    .right_container {
      width: 100%;
      border-radius: 0 0 25px 25px;
    }
  }
}
@media screen and (width <= 480px) {
  .main_container {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    .left_container {
      width: 100%;
      .title_container {
        flex-direction: column;
        align-items: start;
        justify-content: none;
        gap: 10px;
        h3 {
          font-size: 1.2rem;
        }
      }
      form {
        .input_second_row {
          flex-direction: column;
          .term_container,
          .interest_container {
            width: 100%;
          }
        }
      }
    }
    .right_container {
      width: 100%;
      border-radius: 0;
    }
  }
}
